<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">

	<head>
		<title> {{ .Title }} &middot; {{ .Site.Title }} </title>

		{{ partial "head.html" . }}
	</head>

	<body>
		<div class="wrapper">
      <div class="container" />
        <div class="row">
          <div class="twelve columns" />
						{{ partial "header.html" .}}
					</div>
        </div>
				<div class="row">
					<div class="twelve columns" />
            <h1 >{{ .Title }}</h1>
            <h5 class="post-date">Posted {{ .Date.Format "Jan 02, 2006 " }}</h5>
            <div class="post-content">
                {{ .Content }}
            </div>
            {{ if (isset .Params "nocomments")  }}
            {{ else }}
            <div class="post-comments">
                {{ template "_internal/disqus.html" . }}
            </div>
            {{ end }}
					</div>
        </div>
      </div>  
			{{ partial "footer.html" . }}
		</div>
	</body>
</html>